<div class="left_content">
<div class="sidebarmenu">
    <a class="menuitem_green" href="{{ path('pays') }}">Countries</a>
    <a class="menuitem_green" href="{{ path('site') }}">Sites</a>
    <a class="menuitem_green" href="{{ path('service') }}">Services</a>
    <a class="menuitem_green" href="{{ path('costcenter') }}">Cost center</a>
    <a class="menuitem_green" href="{{ path('currency') }}">Currency</a>
    <a class="menuitem_green" href="{{ path('paymentterms') }}">Payment terms</a>
    <a class="menuitem_green" href="{{ path('tva') }}">VAT</a>
    <a class="menuitem_green" href="{{ path('tva') }}">Email notification 1</a>
    <a class="menuitem_green" href="{{ path('tva') }}">Email notification 2</a>
</div>
</div>
