{% extends 'NexteerPoBundle::layout.html.twig' %}
{##}
{% block left_content %}
{% include "NexteerPoBundle::menu_gauche.html.twig" %}
{% endblock %}
{##}
{% block content %}
<h1>{{ 'pays.show' | trans }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>{{ 'pays.id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'pays.libelle' | trans }}</th>
            <td>{{ entity.libelle }}</td>
        </tr>
        <tr>
            <th>{{ 'pays.code' | trans }}</th>
            <td>{{ entity.code }}</td>
        </tr>
    </tbody>
</table>

<table class="record_actions" width="100%">
    <tr>
        <td align="center"><a href="{{ path('pays') }}"><button type="button">{{ 'general.back' | trans }}</button></a></td>
        <td align="center"><a href="{{ path('pays_edit', { 'id': entity.id }) }}"><button type="button">{{ 'general.edit' | trans }}</button></a></td>
    </tr>
</table>


    </li>
</ul>
{% endblock %}