{% extends 'NexteerPoBundle::layout.html.twig' %}
{##}
{% block left_content %}
{% include "NexteerPoBundle::menu_gauche.html.twig" %}
{% endblock %}
{##}
{% block content %}
    <br><br>
<table id="rounded-corner" summary="2007 Major IT Companies' Profit" class="table">
    <thead>
        <tr>
            {#<th scope="col" class="rounded-company"></th>#}
            <th scope="col" class="rounded">Id</th>
            <th scope="col" class="rounded">Label</th>
            <th scope="col" class="rounded">View</th>
            <th scope="col" class="rounded">Edit</th>
            <th scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('paymentterms_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td><a href="{{ path('paymentterms_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/nexteerpo/images/Show.png') }}" alt="" title="" border="0" width="30"/></a></td>
            <td><a href="{{ path('paymentterms_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/nexteerpo/images/Edit.png') }}" alt="" title="" border="0" width="30"/></a></td>
            <td><a onClick="return(confirm('suppression.paymenttermes.confirmation'));" href="{{ path('paymentterms_delete', { 'id': entity.id }) }}"><img src="{{ asset('bundles/nexteerpo/images/Delete.png') }}" alt="" title="" border="0" width="30"/></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<a href="{{ path('paymentterms_new') }}">
    <img src="{{ asset('bundles/nexteerpo/images/Add.png') }}" alt="{{ 'general.administration.Add' | trans }}" title="" border="0" width="30" />{{ 'general.administration.Add' | trans }}
</a>

{% endblock %}